
    <header class="header">
			<div class="container clearfix">
				<div class="header-inner flex space-between items-center">
					<div class="left">
						<div class="logo"><a href="/"><img src="https://30toshow.azurewebsites.net/Content/img/LogoPreto.png" width="110" height="26" alt="JobPress" class="img-responsive"></a></div>	
					</div> <!-- end .left -->				
					<div class="right flex space-between no-column items-center">
						<div class="navigation">
							<nav class="main-nav">
								<ul class="list-unstyled">
									<li class="active"><a href="/canditate/resume/new">Talento</a></li>
									<li><a href="about.html">Empresa</a></li>
									<li><a href="about.html">Coaching</a></li>	
									<li><a href="about.html">Blog</a></li>							
									<li><a href="about.html">Fale conosco</a></li>
								</ul>
							</nav> <!-- end .main-nav -->
							<a href="" class="responsive-menu-open"><i class="ion-navicon"></i></a>
						</div> <!-- end .navigation -->
						<!-- menu user logged -->
						<div class="account-info-top flex items-center no-column" style="display:none">
							<a href="#0" class="notification-icon"><i class="ion-android-notifications"></i></a>
							<a href="#0" class="profile-button flex space-between items-center no-column no-wrap"><span>Hi!</span>Mark <img src="images/avatar01.jpg" alt="avatar" class="img-responsive"></a>
						</div>
						<!-- end menu user logged -->
						<div class="button-group-merged flex no-column">
							<a href="post-job-form.html" class="button">Post a Job</a>
							<a href="#register" class="button" data-toggle="modal" data-target=".bs-modal-sm">Sign Up</a>
						</div> <!-- end .button-group-merged -->
					</div> <!-- end .right -->
				</div> <!-- end .header-inner -->
			</div> <!-- end .container -->
		</header>
