
    <fieldset>
        <h2 class="form-title text-center dark">Post resume</h2>
        <h3 class="step-title text-center dark">You've successfully posted your resume</h3>

        <ul class="steps-progress-bar flex space-between items-center no-column no-wrap list-unstyled">
            <li class="active"><span><i class="ion-ios-checkmark-empty"></i></span></li>
            <li class="active"><span><i class="ion-ios-checkmark-empty"></i></span></li>
            <li class="active"><span><i class="ion-ios-checkmark-empty"></i></span></li>
        </ul>
        <!-- end .steps-progress-bar -->

        <div class="form-inner">
            <h2 class="text-center job-post-success">Congratulations!</h2>
            <p class="text-center">You’ve successfully posted your resume. You can use it to apply for a new job now. Whenever you want to edit
                your resume, please go to your <a href="#0">Dashboard</a>&gt; <a href="#0">My resume</a>. Thank you for using
                our job board!</p>
            <div class="button-wrapper text-center">
                <button type="button" class="button">Browse jobs now</button>
            </div>
            <!-- end .button-wrapper -->
        </div>
        <!-- end .form-inner -->
    </fieldset>
