<div class="left-sidebar-menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="heading">Manage account</li>
        <li>
            <a data-toggle="pill" href="#resume">Meu Perfil</a>
        </li>
        <li class="active">
            <a data-toggle="pill" href="#bookmarked-jobs">Meus Videos</a>
        </li>
        <li class="notification-link flex space-between items-center no-column no-wrap">
            <a data-toggle="pill" href="#notifications">Mensagens</a>
            <span class="notification-count">2</span>
        </li>
        <li class="nav-divider"></li>
        <li class="heading">Manage job</li>
        <li>
            <a data-toggle="pill" href="#manage-applications">Manage Applications</a>
        </li>
        <li>
            <a data-toggle="pill" href="#job-alerts">Alertas de Vagas</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a data-toggle="pill" href="#change-password">Mudar Senha</a>
        </li>
        <li>
            <a data-toggle="pill" href="#signout">Sair</a>
        </li>
    </ul>
</div>