<div id="manage-applications" class="tab-pane fade in">
    <h3 class="tab-pane-title">Manage applications</h3>
    <div class="job-applications-list-wrapper">
        <div class="job-application flex items-center no-column no-wrap">
            <div class="application-company-cell application-cell flex items-center no-column no-wrap">
                <div class="application-company-logo">
                    <img src="images/company-logo01.jpg" alt="company-logo" class="img-responsive">
                </div>
                <!-- end .application-company-logo -->
                <div class="application-company-text">
                    <h4 class="dark">Web designer needed</h4>
                    <p>Quick studio</p>
                </div>
                <!-- end .application-company-text -->
            </div>
            <!-- end .job-application-company-cell -->
            <div class="application-contractor-type-cell application-cell">
                <button type="button" class="button full-time button-xs">Full time</button>
            </div>
            <!-- end .application-contractor-type-cell -->
            <div class="application-submission-date-cell application-cell">
                <p>No 14th, 2017</p>
            </div>
            <!-- end .application-submission-date-cell -->
            <div class="application-status-cell">
                <p class="rejected">Rejected</p>
            </div>
            <!-- end .application-status-cell -->
        </div>
        <!-- end .job-application -->
        <div class="job-application flex items-center no-column no-wrap">
            <div class="application-company-cell application-cell flex items-center no-column no-wrap">
                <div class="application-company-logo">
                    <img src="images/company-logo11.jpg" alt="company-logo" class="img-responsive">
                </div>
                <!-- end .application-company-logo -->
                <div class="application-company-text">
                    <h4 class="dark">Front-end developer needed</h4>
                    <p>Evotweet</p>
                </div>
                <!-- end .application-company-text -->
            </div>
            <!-- end .job-application-company-cell -->
            <div class="application-contractor-type-cell application-cell">
                <button type="button" class="button full-time button-xs">Full time</button>
            </div>
            <!-- end .application-contractor-type-cell -->
            <div class="application-submission-date-cell application-cell">
                <p>No 14th, 2017</p>
            </div>
            <!-- end .application-submission-date-cell -->
            <div class="application-status-cell">
                <p class="processing">In process</p>
            </div>
            <!-- end .application-status-cell -->
        </div>
        <!-- end .job-application -->
        <div class="job-application flex items-center no-column no-wrap">
            <div class="application-company-cell application-cell flex items-center no-column no-wrap">
                <div class="application-company-logo">
                    <img src="images/company-logo12.jpg" alt="company-logo" class="img-responsive">
                </div>
                <!-- end .application-company-logo -->
                <div class="application-company-text">
                    <h4 class="dark">We're looking for an art director</h4>
                    <p>Prymb creative studio</p>
                </div>
                <!-- end .application-company-text -->
            </div>
            <!-- end .job-application-company-cell -->
            <div class="application-contractor-type-cell application-cell">
                <button type="button" class="button full-time button-xs">Full time</button>
            </div>
            <!-- end .application-contractor-type-cell -->
            <div class="application-submission-date-cell application-cell">
                <p>No 14th, 2017</p>
            </div>
            <!-- end .application-submission-date-cell -->
            <div class="application-status-cell">
                <p class="approved">Approved</p>
            </div>
            <!-- end .application-status-cell -->
        </div>
        <!-- end .job-application -->
        <div class="job-application flex items-center no-column no-wrap">
            <div class="application-company-cell application-cell flex items-center no-column no-wrap">
                <div class="application-company-logo">
                    <img src="images/company-logo08.jpg" alt="company-logo" class="img-responsive">
                </div>
                <!-- end .application-company-logo -->
                <div class="application-company-text">
                    <h4 class="dark">Looking for a project leader</h4>
                    <p>Elephant studio</p>
                </div>
                <!-- end .application-company-text -->
            </div>
            <!-- end .job-application-company-cell -->
            <div class="application-contractor-type-cell application-cell">
                <button type="button" class="button full-time button-xs">Full time</button>
            </div>
            <!-- end .application-contractor-type-cell -->
            <div class="application-submission-date-cell application-cell">
                <p>No 14th, 2017</p>
            </div>
            <!-- end .application-submission-date-cell -->
            <div class="application-status-cell">
                <p class="rejected">Rejected</p>
            </div>
            <!-- end .application-status-cell -->
        </div>
        <!-- end .job-application -->
        <div class="job-application flex items-center no-column no-wrap">
            <div class="application-company-cell application-cell flex items-center no-column no-wrap">
                <div class="application-company-logo">
                    <img src="images/company-logo07.jpg" alt="company-logo" class="img-responsive">
                </div>
                <!-- end .application-company-logo -->
                <div class="application-company-text">
                    <h4 class="dark">We're hiring a fullstack developer'</h4>
                    <p>Bnanan inc.</p>
                </div>
                <!-- end .application-company-text -->
            </div>
            <!-- end .job-application-company-cell -->
            <div class="application-contractor-type-cell application-cell">
                <button type="button" class="button full-time button-xs">Full time</button>
            </div>
            <!-- end .application-contractor-type-cell -->
            <div class="application-submission-date-cell application-cell">
                <p>No 14th, 2017</p>
            </div>
            <!-- end .application-submission-date-cell -->
            <div class="application-status-cell">
                <p class="processing">In process</p>
            </div>
            <!-- end .application-status-cell -->
        </div>
        <!-- end .job-application -->
        <div class="job-application flex items-center no-column no-wrap">
            <div class="application-company-cell application-cell flex items-center no-column no-wrap">
                <div class="application-company-logo">
                    <img src="images/company-logo13.jpg" alt="company-logo" class="img-responsive">
                </div>
                <!-- end .application-company-logo -->
                <div class="application-company-text">
                    <h4 class="dark">Web designer needed</h4>
                    <p>Bull creative agency</p>
                </div>
                <!-- end .application-company-text -->
            </div>
            <!-- end .job-application-company-cell -->
            <div class="application-contractor-type-cell application-cell">
                <button type="button" class="button full-time button-xs">Full time</button>
            </div>
            <!-- end .application-contractor-type-cell -->
            <div class="application-submission-date-cell application-cell">
                <p>No 14th, 2017</p>
            </div>
            <!-- end .application-submission-date-cell -->
            <div class="application-status-cell">
                <p class="rejected">Rejected</p>
            </div>
            <!-- end .application-status-cell -->
        </div>
        <!-- end .job-application -->
    </div>
    <!-- end .applications-list-wrapper -->
    <div class="jobpress-custom-pager list-unstyled flex space-center no-column items-center">
        <a href="#0" class="button">
            <i class="ion-ios-arrow-left"></i>Prev</a>
        <ul class="list-unstyled flex no-column items-center">
            <li>
                <a href="#0">1</a>
            </li>
            <li>
                <a href="#0">2</a>
            </li>
            <li>
                <a href="#0">3</a>
            </li>
            <li>
                <a href="#0">4</a>
            </li>
            <li>
                <a href="#0">5</a>
            </li>
        </ul>
        <a href="#0" class="button">Next
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>
    <!-- end .jobpress-custom-pager -->
</div>