
    <div class="section post-resume-form-section solid-light-grey-bg">
        <div class="inner">
            <div class="container">
                <!-- multistep form -->
                <form action="" method="post" id="post-resume-form" class="post-resume-form multisteps-form">
                    <!-- resume form 1 -->
                    {{> resume/resume-form-wizard-1}}
                    <!-- resume form 1 -->

                    <!-- resume form 2 -->
                    {{> resume/resume-form-wizard-2}}
                    <!-- resume form 2 -->

                    <!-- resume form 3 -->
                    {{> resume/resume-form-wizard-3}}
                    <!-- resume form 3 -->

                    <!-- resume_form_4 -->
                    {{> resume/resume-form-wizard-4}}
                    <!-- resume_form_4 -->

                </form>
                <!-- end .job-post-form -->

            </div>
            <!-- end .container -->
        </div>
        <!-- end .inner -->
    </div>
