<template name="home_content">
  <div id="content" class="site-content content-home" tabindex="-1">
    <div class="container">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <!-- HOME SLIDER -->
          {{> homeslider}}
          <!-- HOME SLIDER -->

          <!-- ads -->
          {{> home_v3_ads}}
          <!-- end ads -->

          <!-- product-carousel -->
          {{> product_carousel}}
          <!-- product-carousel -->

        </main>
      </div>
    </div>
  </div>
</template>
