<template name="menu_principal_categorias">
  <nav class="navbar navbar-primary navbar-full yamm">
    <div class="container">
      <div class="clearfix">
        <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#header-v3">
          &#9776;
        </button>
      </div>

      <div class="collapse navbar-toggleable-xs" id="header-v3">
        <ul class="nav navbar-nav">
          <li class="menu-item
          animate-dropdown"><a title="TV &amp; Audio" href="product-category.html">TV &#038; Audio</a></li>
          <li class="menu-item"><a title="RTV" href="product-category.html">RTV</a></li>
          <li class="menu-item"><a title="Computers" href="product-category.html">Computers</a></li>
          <li class="menu-item"><a title="Games &amp; Consoles" href="product-category.html">Games &#038; Consoles</a></li>
          <li class="menu-item"><a title="Gadgets" href="product-category.html">Gadgets</a></li>
          <li class="menu-item"><a title="Phones &amp; Tablets" href="product-category.html">Phones &#038; Tablets</a></li>
          <li class="menu-item"><a title="GPS &amp; Car Audio" href="product-category.html">GPS &#038; Car Audio</a></li>
          <li class="menu-item"><a title="Accessories" href="product-category.html">Accessories</a></li>
        </ul>
      </div><!-- /.collpase -->
    </div><!-- /.-container -->
  </nav><!-- /.navbar -->
</template>
